<p class="display-4 ml-2">{{_id}} ({{gradeLvl}})</p>
<p class=" ml-2 font-weight-bold">Section Adviser: {{adviser}} <span><a href='/a/sched/editSection/{{secID}}' type="button"
            class="btn btn-outline-primary secEdit">Edit</a></span></p>

<table class="table table-bordered">
    <thead class="thead-primary">
        <tr>
            <th scope="col">Subject Name</th>
            <th scope="col">Teacher Name</th>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each cList}}
        <tr>
            <td>{{subNm}}</td>
            <th>{{tchFNm}} {{tchMNm}} {{tchLNm}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>