<tr id="{{userID}}">
    {{!--  --}}
    <th scope="row" class="text-center">{{userID}}</th>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{getDate dateCreated}}</td>
    {{!-- 
    
    --}}
    <td>
        <a href="/a/users/AProfile" class="btn btn-outline-primary">View Account</a>
    </td>
</tr>