<tr id="{{userID}}">
    {{!-- use helper for line 3 --}}
    <td class="{{getRemarkColor remark}}">{{getRemark remark}}</td>
    <th scope="row">{{userID}}</th>
    <td>{{firstname}} {{middlename}} {{lastname}}</td>
    {{!-- suggestion: 
    use 
        '$(this).parent().parent().attr('id');' 
    or 
        '$(this).closest('tr').attr('id');'
    to get userID
    --}}
    <td>
        <a href="user_StudentAccount.html" class="btn btn-outline-primary">View Account</a>
    </td>
    <td>
        <a href="/a/users/SProfile/{{userID}}" class="btn btn-outline-primary">View Profile <span
                class="badge badge-danger" {{notifyRemark remark}}>!</span></a>
    </td>
    <td>
        <a href="user_StudentEmail.html" class="btn btn-outline-primary">Send Email</a>
    </td>
</tr>