<tr id="{{userID}}">
    {{!--  --}}
    <th scope="row">{{userID}}</th>
    <td>{{firstname}} {{middlename}} {{lastname}}</td>
    {{!-- 

    --}}
    <td>
        <a href="/t/users/SProfile/{{userID}}/{{schoolYear}}" class="btn btn-outline-primary">View Profile</a>
    </td>
</tr>