<tr>
        <td class="text-left">{{subjectCode}}</td>
        <td class="text-left">{{teacherName}}</td>
        <td class="text-center">{{firsQuarter}}</td>
        <td class="text-center">{{secondQuarter}}</td>
        <td class="text-center">{{thirdQuarter}}</td>
        <td class="text-center">{{fourthQuarter}}</td>
        <td class="text-left">{{finalGrade}}</td>
        <td class="text-success">{{remarks}}</td>
</tr>