{{!-- This is for viewing all of the student's tuition fees, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

<div class="col-9">
    <div class="shadow">
        <div class="list-group mt-2 shadow bg-light">
            <div class="container">
                <p class="display-4">Edit Upon Enrollment</p>
                <div class="row m-2">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="schoolYear"
                                class="col-3 d-flex justify-content-center align-items-center m-0">School Year:</label>
                            <select id="schoolYear" class="form-control col-9 p-0 m-0 dropdown-schoolYear">
                                {{#if (getBool schoolYear)}}
                                <option value="{{SYSettings}}">{{SYSettings}}--selected</option>
                                {{#each schoolYear}}
                                {{>dropdownOpt this}}
                                {{/each}}
                                {{else}}
                                <option value="">--School Year--</option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="gradeLvl"
                                class="col-3 d-flex justify-content-center align-items-center m-0">Grade Level:</label>
                            <select id="gradeLvl" class="form-control col-9 p-0 m-0 dropdown-gradeLvl">
                                {{#if (getBool gradeLvl)}}
                                <option value="{{GLSettings}}">{{GLSettings}}--selected</option>
                                {{#each gradeLvl}}
                                {{>dropdownOpt this}}
                                {{/each}}
                                {{else}}
                                <option value="">--Grade Level--</option>
                                {{/if}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Full</th>
                                <td>Php {{getPrice enroll.fullPayment}}</td>
                                <td class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Php</div>
                                    </div> <input value="{{enroll.fullPayment}}" class="form-control" type="number" placeholder="0" id="enroll_full">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Semestral</th>
                                <td>Php {{getPrice enroll.semestralPayment}}</td>
                                <td class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Php</div>
                                    </div><input value="{{enroll.semestralPayment}}" class="form-control" type="number" placeholder="0" id="enroll_sem">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Trimestral</th>
                                <td>Php {{getPrice enroll.trimestralPayment}}</td>
                                <td class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Php</div>
                                    </div><input value="{{enroll.trimestralPayment}}" class="form-control" type="number" placeholder="0" id="enroll_tri">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Quarterly</th>
                                <td>Php {{getPrice enroll.quarterlyPayment}}</td>
                                <td class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Php</div>
                                    </div><input value="{{enroll.quarterlyPayment}}" class="form-control" type="number" placeholder="0" id="enroll_qrt">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Monthly</th>
                                <td>Php {{getPrice enroll.monthlyPayment}}</td>
                                <td class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Php</div>
                                    </div><input value="{{enroll.monthlyPayment}}" class="form-control" type="number" placeholder="0" id="enroll_mon">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="a_f_UE_Save" type="button" class="btn btn-primary btn-block mt-4 mb-4">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>