{{!-- This is for viewing all of the student's tuition fees, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

<div class="col-9">
    <div class="shadow">
        <div class="list-group mt-2 shadow bg-light">
            <div class="container">
                <p class="display-5">Edit Section</p>
                <br>
                <p class="display-4 ml-2">{{clsDta._id}} ({{clsDta.gradeLvl}})</p>
                <div class="row m-2">
                    <p class="col-4 font-weight-bold">Section Adviser: {{clsDta.adviser}}</p>
                    <div class="col-8 row">
                        <select id="editSection_dropdown_adr" class="col-8">
                            <option value="{{clsDta.adviserID}}">{{clsDta.adviser}} --current adviser--</option>
                            {{#each availList}}
                            <option value="{{userID}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <button id="editSection_adr" type="button" class="btn btn-outline-primary col-4">Change
                            Adviser</button>
                    </div>
                </div>

                <div class="mt-2">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Subject Name</th>
                                <th scope="col">Teacher Name</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each clsDta.cList}}
                            <tr>
                                <th scope="row">{{subNm}}</th>
                                <td>{{tchFNm}} {{tchMNm}} {{tchLNm}}</td>
                                <td>
                                    <select id="editSection_tch_{{clsID}}" class="form-control">
                                        {{#each tchList}}
                                        <option value="{{userID}}">{{tchNm}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td>
                                    <button id="editSelection_Save" class-id="{{clsID}}" type="button"
                                        class="btn btn-outline-primary form-control">save</button>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
                <a href="/a/sched/ViewClasses" type="button" class="btn btn-primary btn-block mt-4 mb-4">Back</a>
            </div>
        </div>
    </div>

</div>
</div>
</div>