{{!-- This is for viewing a students account, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

<div class="col-9">
    <div class="shadow">
        <div class="list-group mt-2 shadow bg-light">
            <div class="container">
                <div class="mt-1 container">
                    <div class="row">
                        <select class="form-control" id="a_u_SA_schoolYear">
                            <option value="">--School Year--</option>
                            {{!-- {{#each schoolYear}}
                            {{>dropdownOpt this}}
                            {{/each}} --}}
                        </select>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="col-8">
                        <table class="table table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th class="text-center" colspan="2">Transaction Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>School Year:</td>
                                    <td>{{info.schoolYear}}</td>
                                </tr>
                                <tr>
                                    <td>Grade Level:</td>
                                    <td>{{info.gradeLvl}}</td>
                                </tr>
                                <tr>
                                    <td>Student No:</td>
                                    <td>{{info.userID}}</td>
                                </tr>
                                <tr>
                                    <td>Student Name:</td>
                                    <td>{{info.name}}</td>
                                </tr>
                                <tr>
                                    <td>Payment Type:</td>
                                    <td>{{info.pmtType}}</td>
                                </tr>
                                <tr>
                                    <td>Beginning Balance</td>
                                    <td class="table-success">Php {{getPrice info.begBal}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div col="12">
                        <table class="table table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th scope="col">Paid Amount</th>
                                    <th scope="col">Remaining Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Php {{getPrice paidAmt}}</td>
                                    <td>Php {{getPrice remBal}}</td>
                                </tr>
                            </tbody>
                        </table>
                      
                        <br><br>
                        <table class="table table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th class="text-center" colspan="4">Transaction History Payment</th>
                                </tr>
                                <tr>
                                    <th scope="col">Date Paid</th>
                                    <th scope="col">Payment ID</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>student > payments</td>
                                    <td>student > payments</td>
                                    <td>student > payments</td>
                                    <td>Php student > payments</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right font-weight-bold">Total Paid Amount</td>
                                    <td class="font-weight-bold">Php total(student > payments)</td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <div class="d-flex border justify-content-center">
                            <a href="/a/users/students" class="btn btn-primary btn-lg btn-block">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>