{{!-- This is for viewing a students account, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

<div class="col-9">
    <div class="shadow">
        <div class="list-group mt-2 shadow bg-light">
            <div class="container">
                <div class="mt-1 container">
                    <div class="row">
                        <select class="form-control dropdown-schoolYear">
                            <option value="">--School Year--</option>
                            <option value="{{SYSettings}}">{{SYSettings}}--selected</option>
                            {{#each schoolYear}}
                            {{>dropdownOpt this}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="col-6">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" colspan="2">Transaction Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-right">School Year:</td>
                                    <td>{{info.schoolYear}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Grade Level:</td>
                                    <td>{{info.gradeLvl}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Student No:</td>
                                    <td>{{info.userID}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Student Name:</td>
                                    <td>{{info.name}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Payment Type:</td>
                                    <td>{{info.pmtType}}</td>
                                </tr>
                                <tr class="table-success">
                                    <td class="text-right">Beginning Balance</td>
                                    <td class="text-right">Php {{getPrice info.begBal}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div col="12">
                        <table class="table table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th scope="col" class="text-center">Paid Amount</th>
                                    <th scope="col" class="text-center">Remaining Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-right">Php {{getPrice paidAmt}}</td>
                                    <td class="text-right">Php {{getPrice remBal}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <br><br>
                        <table class="table table-bordered table-striped">
                            <thead class="thead-primary">
                                <tr>
                                    <th class="text-center" colspan="4">Transaction History Payment</th>
                                </tr>
                                <tr>
                                    <th scope="col" class="text-center">Date Paid</th>
                                    <th scope="col" class="text-center">Payment ID</th>
                                    <th scope="col" class="text-center">Payment Method</th>
                                    <th scope="col" class="text-center">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each histPmt}}
                                <tr>
                                    <td class="text-center">{{getDate dtPaid}}</td>
                                    <td class="text-center">{{pmtID}}</td>
                                    <td>{{toPmtMtd pmtMtd}}</td>
                                    <td class="text-right">Php {{getPrice amt}}</td>
                                </tr>
                                {{/each}}

                                <tr>
                                    <td colspan="3" class="text-right font-weight-bold">Total Paid Amount:</td>
                                    <td class="font-weight-bold text-right">Php {{getPrice paidAmt}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <div class="d-flex border justify-content-center">
                            <a href="/a/users/students" class="btn btn-primary btn-lg btn-block">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>