{{!-- This is for selecing a payment plan for enrollment (credit card), Parents --}}

{{>p_navbar}}
{{>p_sidebar}}

                <div class="col-9">
                     <div class="list-group mt-2 shadow bg-light">
                        <div class="shadow">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h1 class="display-5 text-center font-weight-bold">Enroll in Regis-Grace Montessori School
                                        </h1>
                                        <div class="row justify-content-center">
                                            <h5 class="display-5 text-center font-weight-light">Please follow the instructions below</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="container">
                                    <form>
                                        <div class="form-group">
                                            <label for="studentID">Student Name</label>
                                                <span style="color:red">*</span>
                                                <br>
                                                <select name="studentID" id="studentID" class="form-control valid" required> 
                                                   {{#each student}}
                                                        <option value="{{this.userID}}">{{this.firstName}} {{this.middleName}} {{this.lastName}} - {{this.gradeLvl}}</option>       
                                                   {{/each}}                 
                                                </select>
                                        </div>
                                        <p>Please Select a payment type:</p>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="fullPayment" value="fullPayment" checked>
                                            <label class="form-check-label" for="fullPayment">
                                              Full
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="semestralPayment" value="semestralPayment">
                                            <label class="form-check-label" for="semestralPayment">
                                              Semestral
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="trimestralPayment" value="trimestralPayment" >
                                            <label class="form-check-label" for="trimestralPayment">
                                              Trimestral
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="quarterlyPayment" value="quarterlyPayment" >
                                            <label class="form-check-label" for="quarterlyPayment">
                                              Quarterly
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="monthlyPayment" value="monthlyPayment" >
                                            <label class="form-check-label" for="monthlyPayment">
                                              Monthly
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="nextPayment" value="nextPayment" >
                                            <label class="form-check-label" for="nextPayment">
                                              Pay Next Installment
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="paymentPlan" id="remainingPayment" value="remainingPayment" >
                                            <label class="form-check-label" for="remainingPayment">
                                              Pay Remaining Balance
                                            </label>
                                          </div>
                                          <br>
                                          <a id="submitBankPlan" class="btn btn-outline-primary mb-4">Next</a>
                                    </form>
                                    <!-- <h5 class="display-5 text-left">Registrar</h5>
                                    <hr style="border: 2px solid black;" />
                                    <p class="">You may pay for enrollment by visiting our school registrar and pay in either cash or check, you may ask our staff for directions if needed</p>
                                    <hr style="border: 2px solid black;" /> -->
                                    <!-- <h5 class="display-5 text-left">Enrollment Assessment Form</h5>
                                    <hr style="border: 2px solid black;" />
                                    <p class="">Please download your Enrollment Assessment Form as it is needed to pay for enrollment</p>
                                    <button type="submit" class="btn btn-outline-primary mb-4">Download</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>