{{!-- This is for viewing the statement of accounts for all the parent's children, Parents --}}

{{>p_navbar}}
{{>p_sidebar}}

                <div class="col-9">
                     <div class="list-group mt-2 shadow bg-light">
                        <div class="container">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <p class="display-5 text-center font-weight-bold">Statement of Account as A.Y. 2020-2021
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 container">
                            <div class="row">
                                <select class="form-control dropdown-schoolYear">
                                    {{#if (getBool schoolYear)}}
                                    <option value="{{SYSettings}}">{{SYSettings}}--selected</option>
                                    {{#each schoolYear}}
                                    {{>dropdownOpt this}}
                                    {{/each}}
                                    {{else}}
                                    <option value="">--School Year--</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        
                        <div class="mt-2">
                            <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" colspan="2">Transaction Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-right">School Year:</td>
                                    <td>{{info.schoolYear}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Grade Level:</td>
                                    <td>{{info.gradeLvl}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Student No:</td>
                                    <td>{{info.userID}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Student Name:</td>
                                    <td>{{info.name}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Payment Type:</td>
                                    <td>{{info.pmtType}}</td>
                                </tr>
                                <tr class="table-success">
                                    <td class="text-right">Beginning Balance</td>
                                    <td class="text-right">Php {{getPrice info.begBal}}</td>
                                </tr>
                            </tbody>
                        </table>

                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th class="text-center" colspan="2">Payment Information</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Total Assessment Amount:</th>
                                        <td class="text-left">Php 33,500.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cash Discount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Discount Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Paid Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cash Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cheque Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Penalty Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Balance Amount:</th>
                                        <td class="text-left">Php 33,500.00</td>
                                    </tr>
                                    <tr>
                                        <th>Voucher Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Mode of Payment:</th>
                                        <td class="text-left">Monthly</td>
                                    </tr>
                                    <tr>
                                        <th>Beginning Balance:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>
        </div>